# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data folder
data/

# PyTorch model files
*.pt
*.pth

# Weights & Biases
wandb/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
